*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

header {
    background-color: #122A57;
    height: 100px;
    color: #fff;
}

.cabecalho {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list-itens {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
}

.list-itens li {
    margin-right: 1rem;
}


.list-itens li a {
    text-decoration: none;
    color: #fff;
}

.apresentacao {
    display: flex;
    width: 70%;
    margin: 0 auto;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: space-between;
}

.texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    width: 220px;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 10px 0;
}

.texto-apresentacao h2 {
    margin-bottom: 10px;
    font-size: 2.7rem;
    color: #122a57;
}

.texto-apresentacao p {
    font-weight: 200;
    width: 90%;
    margin-bottom: 10px;
}

.texto-apresentacao h2::before {
    content: '|';
    height: 50px;
    width: 5px;
    margin-right: 5px;
    color: #122A57;
    position: relative;
}

.apresentacao div img {
    display: block;
    width: 100%;
    min-width: 420px;
}

.container-externo {
    background-color: #122A57;
    width: 100%;
}

.servicos {
    display: flex; 
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.servicos div {
    width: 30%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.container-externo div h2 {
    color: #fff;
    padding: 2rem 80% 2rem 15% ;
    font-size: 2rem;
}

.texto {
    height: 100px;
}

.servicos div a {
    background-color: #fff;
    color: #122A57;
    padding: 1rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.servicos div p {
    padding: 2rem;
    color :#fff;
    font-size: 1.3rem
}

#planos {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 50px;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.item-plano {
    flex: 1;
    border: 5px solid #122A57;
    border-radius: 2px;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
    margin-bottom: 5rem;
    /* text-align: center; */
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    list-style: initial;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
}

.item-plano ul li::before {
    content: "";
    background-color: #122A57;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

#planos h2 {
    font-size: 32px;
}

footer {
    text-align: center;
    background-color: #122A57;
    color: #fff;
    padding: 2rem;
    /* vertical-align: middle; */
}


